@page "/"

<PageTitle>Draggable UI playground</PageTitle>


<div class="grid grid-cols-2 gap-4">
    <div>
        <h3>Hommes</h3>
        <Dropzone Items="Users" class="w-full h-full max-w-md px-3 border-2 rounded border-dashed border-gray-400">
            <UserListItem Item="@context" />
        </Dropzone>
    </div>
    <div>
        <h3>Femmes</h3>
        <Dropzone Items="SecondList" class="w-full h-full max-w-md px-3 border-2 rounded border-dashed border-gray-400">
            <UserListItem Item="@context" />
        </Dropzone>
    </div>
</div>

@code {
    private List<User> Users = new()
    {
        new User
        {
            Id = 1,
            Name = "Evaris Ngouzo",
            Avatar =
        "https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairTheCaesar&accessoriesType=Blank&hairColor=Black&facialHairType=Blank&clotheType=BlazerSweater&eyeType=Default&eyebrowType=Default&mouthType=Serious&skinColor=Brown"
        },
        new User
        {
            Id = 2,
            Name = "Alix Kasse",
            Avatar =
        "https://avataaars.io/?avatarStyle=Transparent&topType=LongHairStraight&accessoriesType=Blank&hairColor=BrownDark&facialHairType=Blank&clotheType=BlazerShirt&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Brown"
        },
        new User
        {
            Id = 3,
            Name = "Foma Tsuangyon",
            Avatar =
        "https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairTheCaesar&accessoriesType=Blank&hairColor=Black&facialHairType=Blank&clotheType=BlazerSweater&eyeType=Default&eyebrowType=Default&mouthType=Serious&skinColor=Brown"
        },
        new User
        {
            Id = 4,
            Name = "Dalia Ngouzo",
            Avatar =
        "https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairTheCaesar&accessoriesType=Blank&hairColor=BrownDark&facialHairType=Blank&clotheType=Hoodie&clotheColor=Gray01&eyeType=Default&eyebrowType=Default&mouthType=Smile&skinColor=Brown"
        },
        new User
        {
            Id = 5,
            Name = "Evan Ngouzo",
            Avatar =
        "https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairTheCaesar&accessoriesType=Blank&hairColor=Black&facialHairType=Blank&clotheType=BlazerSweater&eyeType=Default&eyebrowType=Default&mouthType=Serious&skinColor=Brown"
        },
        new User
        {
            Id = 6,
            Name = "Arguette Ngouzo",
            Avatar =
        "https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairTheCaesar&accessoriesType=Blank&hairColor=BrownDark&facialHairType=Blank&clotheType=Hoodie&clotheColor=Gray01&eyeType=Default&eyebrowType=Default&mouthType=Smile&skinColor=Brown"
        },
    };

    private List<User> SecondList = new();
}